<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="h2">login</div>
      <form #userlogin="ngForm" (ngSubmit)="login(userlogin.value)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            ngModel
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            ngModel
          />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </form>
    </div>
  </div>
  <div *ngIf="isLoggedIn" class="row justify-content-center mt-5">
    <div class="col-md-4">
      <label for="exampleInputEmail1">Enter Authentication code</label>
      <input
        type="number"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter code"
        [(ngModel)]="token"
      />
      <button type="submit" class="btn btn-primary mt-3" (click)="validateCode()">Verify</button>
    </div>
  </div>
</div>
